{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <h1>New Item</h1> 
    <div>Add a new todo item: 
        <form action="{{url_for('add_new_item')}}" method="POST"> 
          <div class="form-group row">
            <div class="col-sm-10">
              <input id="title" type="text" class="form-control" placeholder="Name" name="title" required>
            </div>
            <input id="addItem" type="submit" class="btn btn-success" name="addItem" value="Add Item">
            <!-- <button id="addItem" type="submit" class="btn btn-success">Add Item</button> -->
          </div>        
        </form>      
    </div> 
    
  <div class="row">
    <div class="col-md-12">
      <h2>Todo Items</h2>
      <ul class="list-group mb-4" style="list-style-type:none;">
        <!-- List the todo items here -->
        {% for item in model.todo_items %}
          <li>
            <div class="col-sm-10">
              <div style="text-align:left">
                {{ item.title }}
                  <button type="button" class="btn btn-secondary btn-sm float-right" disabled>{{ item.status}}</button>
                  <div class="row">
                    <form action="{{url_for('move_item', id=item.id)}}" method="POST">
                      <button type="submit" class="btn btn-success btn-sm">Start</button>
                    </form>
                    <form action="{{url_for('delete_item', id=item.id)}}" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                  </div>
              </div>
            </div>
          </li>
          </br>
        {% endfor %}
        </ul>
      <h2>Doing Items</h2>
      <ul class="list-group mb-4" style="list-style-type:none;">
        <!-- List the todo items here -->
        {% for item in model.doing_items %}
          <li>
            <div class="col-sm-10">
              <div style="text-align:left">
                {{ item.title }}
                  <button type="button" class="btn btn-primary btn-sm float-right" disabled>{{ item.status}}</button>
                  <div class="row">
                    <form action="{{url_for('move_item', id=item.id)}}" method="POST">
                      <button type="submit" class="btn btn-primary btn-sm">Complete</button>
                    </form>
                    <form action="{{url_for('delete_item', id=item.id)}}" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                  </div>
              </div>
            </div>
          </li>
          </br>
        {% endfor %}
        </ul>
      <h2>Done Items</h2>
      <ul class="list-group mb-4" style="list-style-type:none;">
        <!-- List the done items here -->
        {% for item in model.done_items %}
          <li>
            <div class="col-sm-10">
              <div style="text-align:left">
                {{ item.title }}
                  <button type="button" class="btn btn-success btn-sm float-right" disabled>{{ item.status}}</button>
                  <div class="row">
                    <form action="{{url_for('move_item', id=item.id)}}" method="POST">
                      <button type="submit" class="btn btn-secondary btn-sm">Mark as Incomplete</button>
                    </form>
                    <form action="{{url_for('delete_item', id=item.id)}}" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                  </div>
              </div>
            </div>
          </li>
          </br>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}